<nav class="">
    <ul>
        <% if current_user %>
          <li> Signed in as <%= current_user.email %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete%></li>
        <% else %>
          <a href="/signin">Sign In</a></li> | <a href="/signup">Sign Up</a></li>
        <% end %>
    </ul>
</nav>
