<nav class="">
    <ul>
       <% binding.pry %>
        <% if current_user %>
          <li> Signed in as <%= current_user.email %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete%></li>
        <% else %>
          <a href="/signin">Sign In</a> | <a href="/signup">Sign Up</a> | <%= link_to('Log in with Facebook', '/auth/facebook') %>
        <% end %>
    </ul>
</nav>
