<nav class="">
    <ul>
        <% if current_user %>
          <li> Signed in as <%= current_user.email %></li>

        <% else %>
          <a href="/signin">Sign In</a> | <a href="/signup">Sign Up</a> | <%= link_to('Log in with Facebook', '/auth/facebook') %>
        <% end %>
    </ul>
</nav>
